#main 
{
	height:720px;
	width: 1505px;
	border-radius: 10px;
	background-image: url(https://wallpaperaccess.com/full/43868.jpg);
	background-size: 1515px 720px;
	
}
#head 
{
	height: 80px;
    width: 1505px;
    font-family: Calibri; 
	font-size: 60px; 
	font-weight: bolder; 
	color:black;
    text-align: center;
    letter-spacing: 0px;
	border-radius: 10px;
	
}
#main1 
{
	height:400px;
	width: 600px;
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 450px;
}
#header
{
	height:50px;
	width: 300px;
	border-radius: 10px;
	margin: 20px 150px;
 	text-align: center;
 	font-size: 40px;
 	font-weight: bold;
 	color: green;
}
#content
{
	height:400px;
	width: 596px;	
}
#tf
{
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
}